body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.login-container, .form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    margin-bottom: 20px;
    color: #007bff;
    animation: fadeInText 1s ease-in-out;
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #17a2b8; /* Mudança de cor ao focar no campo */
}

input, select {
    animation: fadeInField 0.5s ease-in-out;
}

@keyframes fadeInField {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    width: 100%;
    padding: 12px;
    background-color: #17a2b8;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    animation: fadeInButton 0.5s ease-in-out;
}

@keyframes fadeInButton {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button:hover {
    background-color: #138496;
    transform: scale(1.05); /* Efeito de aumento no hover */
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
