<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" href="/static/cadastro_produto.css">
</head>
<body>
    <h1>Cadastrar Novo Produto</h1>

    <form method="post">
        <label>Nome:</label><br>
        <input type="text" name="nome" required><br><br>

        <label>Marca:</label><br>
        <input type="text" name="marca" required><br><br>

        <label>Descrição:</label><br>
        <textarea name="descricao" required></textarea><br><br>

        <label>Referência:</label><br>
        <input type="text" name="referencia" required><br><br>

        <label>Valor (R$):</label><br>
        <input type="number" name="valor" step="0.01" required><br><br>

        <label>Quantidade:</label><br>
        <input type="number" name="quantidade" required><br><br>

        <button type="submit">Salvar</button>
        <a href="{{ url_for('listar_produtos') }}">Cancelar</a>
    </form>
</body>
</html>
